p span{
  font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none;
    position: absolute;
    z-index: 20;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    left: 0;
    top: 30px;
    width: 100%;
    margin-bottom: 100px;
    /* overflow-y: auto; */
    /* overflow-y: scroll; */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: fixed;
  background-color: #fefefe;
  left:10%;
  padding: 20px;
  border: 1px solid #888;
  border-radius:25px;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin-bottom: 50px;

}

/* Add Animation 
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}*/

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #494545;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px 16px;

}

.modal-body {
  padding: 2px 16px;
  overflow-y: auto; 
  height: 90%; 
}
.modal-body::-webkit-scrollbar {
  width: 5px;
}
.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--second-bg-color); 
  
  border-radius: 10px;
}
.modal-body::-webkit-scrollbar-thumb {
  background: var(--second-bg-color); 
  border-radius: 5px;

}
.modal-footer {
  padding: 2px 16px;
  color: white;
}

.modal_icon{
  margin-left: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--title-color);
  text-align: center;
}
.modal_icon:hover{
  margin-left: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color:var(--main-bg-color);
  text-align: center;
  background-color:var(--title-color);
  cursor: pointer;
}
.modal_icon_header{
  position: relative;
  top: 10px;
  right: 50px;
  margin-left: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border:2px solid var(--header-text-color);
  color:var(--header-text-color);
  text-align: center;
}
.modal_icon_header:hover{
  position: relative;
  top: 10px;
  right: 50px;
  margin-left: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color:var(--second-bg-color);
  text-align: center;
  background-color:var(--header-text-color);
  cursor: pointer;
}
.container-modal-img img {
  width:300px;
}
.container-modal-img-large img {
  width:80%;
}
.container-modal-img-large p {
  font-size: x-small;
}
.container-modal-img-small img {
  width:250px;
}
.container-modal-img-half img {
  width:50%;
}
.container-modal-img-thrid img {
  width:33%;
}
.container-center-img{
  text-align: center;
}
.container-padding{
  padding: 30px;
}
.container-calcul ul{
  width:100%;
}
.container-calcul ul li{
  text-align:center;
}
.container-calcul ul img{
  height:50px;
}
.container-calcul ul li.result{
  border-style:solid;
  border-color:var(--title-color);
  margin-top: 30px;
  border-radius: 30px;
}
